body{
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
}

.card-bg{
    background-color: #eaecef;
}

.title-clr {
    color: #9399a2;
}

.title{
    font-size: 12px;
}

.hour-card{
    min-height: 60px;
}
